.thead-dark {
    background-color: #363740;
    color: white;
}
.Check{
    width: 18px;
    height: 18px;
}
select{
    width: 45px;
    border: 0px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #fff;
}
table{
    background-color: #ffffff;
    margin: 20px 0;
}
