* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  box-sizing: border-box;
}
body{
  background-color: #6c757d;
}
.login-form{
  border-radius: 30px;
  width:402px;
  height: 467px;
  margin:100px auto;
  background-color: white;
}
h1{
  margin-top: 30px;
}
#button {
  display: block;
  width:150px;
  margin:10px auto;
  padding:7px 13px;
  text-align:center;
  background:#086efd;
  font-size:20px;
  font-family: 'Arial', sans-serif;
  color:#ffffff;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 10px;
}
#button:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}
